.tt1.search .tattit {background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,155,246,1) 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;margin-top:17px;margin-bottom:-5px;}
#davbusthingie {font-weight:900;background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,155,246,1) 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.tt1.search .tatcont.alt2 .tatcont.alt1::-webkit-scrollbar-thumb {background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,155,246,1) 100%);}
.tt1.search .tatcont.alt2 .tatcont.alt1::-webkit-scrollbar-thumb:hover {background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,155,246,1) 100%);}
.tt1.search .tatcont.alt2 .tatcont.alt1::-webkit-scrollbar-track {background:#111111;}
.tt1.search .tatdesc {color:#cccccc;}
.tt1.search .tatcont.alt2 em.mty {background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,155,246,1) 100%);margin-bottom:-31px;margin-top:10px;}
#davbusicon {-webkit-background-clip:text;-webkit-text-fill-color:transparent;background-image:url(https://i.imgur.com/bskGbb9.png);background-size:cover;background-position:center;background-attachment:fixed;font-size:20px;line-height:50px;}
.tt1.search .tatcont.alt2 .tatdesc.alt1 {font-size:12px;margin-top:-2px;margin-bottom:16px;}
.tt1.search .tatcont.alt2 .tatcont.alt1 {font-size:11px;margin-bottom:-1px;}
.tt1.search .tatcont {margin-top:-20px;margin-bottom:1px;}
#davbuscam1 {margin-top:0px;}
.tt1.search .tatcont.alt2 {background-image:url(https://i.imgur.com/bskGbb9.png);background-size:cover;background-position:center;background-attachment:fixed;padding-right:0px;}
#davbuscam2 {font-size:12px;}
#davbusicol {background:linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,155,246,1) 100%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;font-size:12px;margin-right:5px;}
